doctype html
head
    title Jonathan's Website

body
    div.docbar
        span.left
            a(href="index.html") HOME
            a(href="resume.html") RESUME
            a(href="projects.html") PROJECTS
        span.right
            a(href="https://www.linkedin.com/in/loewenjonathan/") LinkedIn
            a(href="https://github.com/jobiniah") Github

    h2 Hello There!