extends layouts/main.pug 

block content 
    .px-4.py-5.my-5.text-center
        img.d-block.mx-auto.mb-4(src='https://unsplash.com/photos/MJE_zScymvA' alt='' width='72' height='57')
        h1.display-5.fw-bold Hi! My name is Jonathan Loewen
        .col-lg-6.mx-auto
            p.lead.mb-4
                | I'm a mechanical engineering student at the Unviersity of British Columbia Okanagan Campus.
            .d-grid.gap-2.d-sm-flex.justify-content-sm-center
                input.btn.btn-primary.btn-lg.gap-3(type='button' value="Resume" onclick="window.location.href='resume.html'")
                input.btn.btn-outline-secondary.btn-lg(type='button' onclick="window.location.href='projects.html'" value="Projects")
