extends layouts/main.pug

block content
    h2 Jonathan Loewen
    h4 3rd Year Mechanical Engineering Student from Langley, BC
    a(href="mailto:jonathan.loewen@outlook.com") jonathan.loewen@outlook.com |
    a(href="tel:7785807784") 778 580-7784
    hr
    span#skill-span
        h2#skills Skills
        h4#software Software 
        ul 
            li AutoCAD
            li SolidWorks
            li Python
            li MS Office
            li Matlab
            li C/C++
            li Linux 
        h4#hardware Hardware 
        ul
            li Arduino
            li 3D printers
            li Latheli Welding
            li Oscilloscope
            li Prototyping
            li Ultrasonic Thickness Meter
            li Flow Meter
        h4#general General
        ul
            li Class 5 BC Drivers License
            li Leadership
            li Interpersonal Skills
            li Detail Oriented
            li Time Management

    span#education-span
        h2#education Education
        div.specific-education
            h4.education-title UBC Okanagan 
            h5.education-sub BASc. Mechanical Engineering 
            .education-time 09/2018 - Present 
            .education-place Kelowna, BC
        div.specific-education
            h4.education-title Kwantlen Polytechnic University
            h5.education-sub First Year Engineering
            .education-time 09/2017 - 04/2018
            .education-place Surrey, BC

    span#coursework-span
        h2#coursework Coursework
        h4#extracurricular Extracurricular
        ul 
            li UBCO Aerospace Club
            li UBCO CFD Lab
        h4#undergraduate Undergraduate
        ul 
            li Fluid Dynamics 2

    span#hobbies-span
        h2#hobbies hobbies
        ul 
            li Computational Fluid Dynamics
            li Machine Learning 
            li Music 
            li Learning New Software 
            li 3D Printing/Rapid Prototyping

    span#work-experience-span
        h2#work-experience Work Experience
        // Job 1
        h4#lantic Lantic Inc.
        h5 Engineering Coop Student
        h5 01/2020 - 12/2020
        h5 Vancouver, BC
        ul
            li Managed and planned contractor work on site for 2 independent projects.
            li Produced AutoCAD sketches for project proposals and quotes
            li Learned about and used various piping and other design standards.
            li
                | Wrote documents requesting funds, completed projects, and technical
                | reports.
            li Completed pump sizing calculations which I used to get a supplier's quote.
        h4#cfd-lab UBCO CFD LAB
        h5 Undergraduate Research Assistant
        .work-time 09/2019 - 12/2019
        .work-place Kelowna, BC
        ul
            li Learned advanced CFD topics for analyzing fluid flow in small (capillary) tubes.
            li Analyzed simulation and looked for anomalies to present in a weekly meeting.
            li Automated workflow in python to more efficiently use time.
        h4#mcasphalt MCASPHALT INC. 
        h5 General Labourer
        .work-time 04/2018 - 08/2018
        .work-place Langley, BC
        ul
            li
                | Co-ordinated with power engineers to utilize and maintain heavy machinery
                | (pumps).
            li
                | Demonstrated excellent communication skills when training four employees in
                | a short amount of time.

    span#technical-projects-span
        h2#technical-projects Technical Projects
        h4#slr Self Landing Model Rocket
        h5 UBCO Aerospace Club
        .project-time 01/2019 - 12/2019
        .project-place UBC Okanagan
        ul
            li Managed 3 subteams with 8+ students combined.
            li Interfaced between executives and subteams to show progress, set goals, and explain needs.

        h4#popsicle-bridge Popsicle Bridge
        h5 Mechanics Class Project
        .project-time 01/2018 – 03/2018
        .project-place KPU
        ul
            li Designed, tested, and manufactured a popsicle bridge using joint analysis in Maple.
            li Modelled using 2D and 3D CAD software for truss testing.
        h4#line-following-robot Line Following Robot
        h5 Microcontrollers Class Project
        .project-time 01/2018 – 03/2018
        .project-place KPU
        ul
            li Led development of software for an adaptive line following robot.
            li Learned how to use git for version control.
            li Demonstrated ability to prepare for, and adapt to, unforseen circumstances.
    
    span#volunteer-experience-span
        h2#volunteer-experience volunteer-experience
        h4#slr Head of Visual Media
        h5 Aldergrove Alliance Church
        .volunteer-time 09/2013 – 12/2020
        .volunteer-place Langley, BC
        ul
            li Scheduled and trained volunteers on presentation software.
            li Evaluated potential new software.
            li Assisted with the technology shift and upgrades required for Covid-19.