doctype html
head
    meta(charset="UTF-8")
    title Jonathan's Website

    block prepend scripts 
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" 
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
                crossorigin="anonymous")
        script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
                integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
                crossorigin="anonymous")
    block prepend css 
        link(rel="stylesheet" href="css/main.css")

body
    block nav
        header.p-3.bg-dark.text-white
            nav.navbar.navbar-expand.navbar-dark.bg-dark 
                .container-fluid
                    a.navbar-brand(href="index.html") JL
                    .flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                    .collapse.navbar-collapse
                        ul.navbar-nav.me-auto 
                            li.nav-items 
                                a.nav-link(href="index.html") Home
                            li.nav-items 
                                a.nav-link(href="resume.html") Resume
                            li.nav-items 
                                a.nav-link(href="projects.html") Projects

                span.text-end
                    input.btn.btn-primary.btn-lg.gap-3(type='button' value="Contact Me" onclick="window.location.href='mailto:jonathan.loewen@outlook.com'")

    block content 

    block footer
        .footer
             
    