doctype html
head
    title Jonathan's Website
    block scripts append
        script(src="js/index.js")
        
    block css append
        link(rel="stylesheet" href="css/main.css")

body
    block nav
        header.p-3.bg-dark.text-white
            nav.navbar.navbar-expand.navbar-dark.bg-dark 
                .container-fluid
                    a.navbar-brand(href="index.html") JL
                    .flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                    .collapse.navbar-collapse
                        ul.navbar-nav.me-auto 
                            li.nav-items 
                                a.nav-link(href="index.html") Home
                            li.nav-items 
                                a.nav-link(href="resume.html") Resume
                            li.nav-items 
                                a.nav-link(href="projects.html") Projects

                span.text-end
                    input.btn.btn-primary.btn-lg.gap-3(type='button' value="Contact Me" onclick="window.location.href='mailto:jonathan.loewen@outlook.com'")

    block content 

    block footer
        .footer
             
