@import "node_modules/bootstrap/scss/bootstrap";

@media screen and (min-width: 900px){
    .grid-container {
        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: 30% 70%;
    }

}

@media screen and (max-width: 900px){
    .grid-container {
        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: 1fr;
    }
}

.accordion{
    margin: .5rem;
}

.card > h2 {
    margin: .5rem;
}

.btn{
    margin: .5rem;
}

h2{
    margin: .5rem;
}

.card{
    margin: .5rem;
}

.leftbar-subheader{
    margin: .5rem;
}

.education-time{
    margin: .5rem;
}

.education-place{
    margin: .5rem;
}

.education-sub {
    margin: .5rem;
}

.header{
    text-align: center;
}